# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build/CMakeCache.txt
build/Makefile
build/CMakeFiles/
nuild/Makefile
build/cmake_install.cmake



