# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/CMakeFiles/
build/apps/
build/lib/
